@model TechifyyNew.Models.Admin

@{

    if (Session["AdminSessionEmail"] == null)
    {
        Response.Redirect("~/Admins/AdminLogin");


    }


    var review = ViewBag.review;
    var user = ViewBag.user;
    var product = ViewBag.product;
    var issue = ViewBag.issue;
    var category = ViewBag.category;
    var pending = ViewBag.pending;

}
<!DOCTYPE html>
<html lang="zxx">
<head>


    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/Externals/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Externals/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome-icons -->
    <link href="~/Externals/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">


    <script type="text/javascript">function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };</script>

</head>
<body>
    <!-- banner -->
    <div class="wthree_agile_admin_info">
       

        <div class="inner_content">

            <!-- /inner_content_w3_agile_info-->
            <div class="inner_content_w3_agile_info">
                <!-- /agile_top_w3_grids-->
                <div class="container body-content">
                    <ul class="ca-menu">
                        <li>
                            <a href="@Url.Action("Index","Users")">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main">
                                        @user
                                    </h4>
                                    <h3 class="ca-sub">Users</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Categories")">
                                <i class="fa fa-sitemap" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main one">@category</h4>
                                    <h3 class="ca-sub one">Categories</h3>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index","Products")">

                                <i class="fa fa-gamepad" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main two">@product</h4>
                                    <h3 class="ca-sub two">Products</h3>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index","Pendings")">

                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main four">@pending</h4>
                                    <h3 class="ca-sub four">Pending Products</h3>
                                </div>
                            </a>
                        </li>


                 @*     <li>
            <a href="@Url.Action("Index","Reviews")">

                <i class="fa fa-tasks" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@review</h4>
                    <h3 class="ca-sub three">Reviews</h3>
                </div>
            </a>
        </li>
                     *@
        <li>
            <a href="@Url.Action("Index","Issues")">

                <i class="fa fa-comments" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main four">@issue</h4>
                    <h3 class="ca-sub four">Comments</h3>
                </div>
            </a>
        </li>



                        
                    </ul>
                </div>
                <!-- //agile_top_w3_grids-->
                <!-- /agile_top_w3_post_sections-->
            </div>
            <!-- //inner_content_w3_agile_info-->
        </div>
        <!-- //inner_content-->
    </div>
    <div class="copyrights">
        <p>© 2022 All Rights Reserved | Design by Techifyy Developers</p>
    </div>
</body>
</html>